::-webkit-scrollbar {
    width: 11px;
    background: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(184, 184, 184, 0.55);
}

::-webkit-scrollbar-thumb:active {
    border-radius: 10px;
    background: rgba(184, 184, 184, 1);
}
